name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  run-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        impl_type: [no_constraints, no_lists]
    steps:
    - uses: actions/checkout@v4

    - name: configure
      run: |
        cmake -B build-${{ matrix.impl_type }} \
        -DIMPLEMENTATION=${{ matrix.impl_type }}

    - name: build
      run: cmake --build build-${{ matrix.impl_type }} --parallel

    - name: test
      run: ctest --test-dir build-${{ matrix.impl_type }}/test
